/*----------GÉNÉRAL----------*/

html {
    background: white;
}

body {
    font-family: 'Roboto', sans-serif;
}

h2 {
    text-align: center;
    margin-bottom: 10px;
}

/*----------CHAMPS DE RECHERCHE----------*/

form {
    width: 500px;
    height: 440px;
    background: #e6e6e6;
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    margin: auto;
    padding: 20px 30px;
    max-width: calc(100vw - 40px);
    box-sizing: border-box;
    position: relative;
}

input,
select,
option {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid #f07f8e;
    margin-bottom: 12px;
    transition: border-bottom 0.4s ease-in-out;
}

input:focus {
    border-bottom: 2px solid #E1001E;
}

.button {
    float: right;
    padding: 8px 12px;
    margin: 8px 0 0;
    border: 2px solid #f07f8e;
    background: 0;
    color: #000;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    background: #E1001E;
    color: #fff;
}

select {
    text-transform: lowercase;
}

select::first-letter {
    text-transform: capitalize;
}

select > option {
    text-transform: lowercase;
    background: #e6e6e6;
}

select > option::first-letter {
    text-transform: capitalize;
}

/*----------CHAMPS DE RESULTATS----------*/

tr > td {
    text-transform: lowercase;
}

tr:nth-child(even) {
    background: #f2f2f2
}

table {
    width: 100%;
}

iframe {
    border: none;
}