<h1>Les dernières news</h1>
<fieldset>
    <input type="text" class="input_title">
    <textarea class="input_body"></textarea>
    <button class="btn_add">Add</button>
</fieldset>
{{#each items}}
    <article class="item">
      <h1>{{ task }}</h1>
      <div class="body">
        {{ body }}
      </div>
      <footer>
          Written by username          
          <button class="btn_delete" data-index="{{@index}}">
              Delete
          </button>
      </footer>
    </article>
{{/each}}