<div>
    <form>
        <div class="form-group">
            <label for="prenom">Prénom</label>
            <input required type="text" class="form-control input_prenom" id="input_prenom" placeholder="Jacques">
            <label for="nom">Nom</label>
            <input required type="text" class="form-control input_nom" id="input_nom" placeholder="Mitchel">
            <label for="note">Note</label>
            <input required type="number" step="0.01" class="form-control input_note" id="input_note" placeholder="6" min="1" max="6">
        </div>
        <button type="submit" class="btn btn-primary save_input">Enregistrer</button>
        <p></p>
    </form>
</div>