<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
<title>Video Games Reviews</title>
<meta charset="utf-8">
<link rel="stylesheet" href="styles/layout.css" type="text/css">
<!--[if lt IE 9]><script src="scripts/html5shiv.js"></script><![endif]-->
</head>
<body>
<div class="wrapper row1">
  <header id="header" class="clear">
    <div id="hgroup">
      <h1><a href="index.html">Video Games Reviews</a></h1>
    </div>
    <nav>
      <ul>
        <li><a href="#">Liste des reviews</a></li>
        <li><a href="#">Ajouter une review</a></li>
        <li class="last"><a href="#">A propos de nous</a></li>
      </ul>
    </nav>
  </header>
</div>
<!-- content -->
<div class="wrapper row2">
  <div id="container" class="clear">
    <!-- content body -->
    <aside id="left_column">
      <h2 class="title">Menu</h2>
      <nav>
        <ul>
			<li><a href="#">Liste des reviews</a></li>
			<li><a href="#">Ajouter une review</a></li>
			<li><a href="#">A propos de nous</a></li>
        </ul>
      </nav>
    </aside>
    <!-- main content -->
    <div id="content">
        <h2>Liste des reviews</h2>
		<p>Voici la liste des reviews de tous nos jeux vidéos !</p>
		<p>N'hésitez pas à participer en évaluant, vous-même, vos jeux vidéos !</p>
        </div>
    <!-- / content body -->
  </div>
</div>
<!-- footer -->
<div class="wrapper row3">
  <footer id="footer" class="clear">
    <p class="fl_left">Copyright &copy; 2017 <a href="#"> Sami Othmane</a></p>
    <p class="fl_right">Template: os-templates</p>
  </footer>
</div>
</body>
</html>
