<div>
    <form>
  <div class="form-group">
    <label for="prenom">Prénom</label>
    <input type="text" class="form-control input_prenom" id="input_prenom" placeholder="Jacques">
    <label for="nom">Nom</label>
    <input type="text" class="form-control input_nom" id="input_nom" placeholder="Mitchel">
    <label for="note">Note</label>
    <input type="number" class="form-control input_note" id="input_note" placeholder="6, grand patron de la classe">
  </div>
  <button type="submit" class="btn btn-primary save_input">Enregistrer</button>
  <p></p>
</form>
</div>