<table class="table">
    <thead>
        <tr>
            <th scope="col">Nom</th>
            <th scope="col">Prénom</th>
            <th scope="col">Note</th>
            <th scope="col">Actions</th>
        </tr>
    </thead>
    <tbody>
        {{#each eleves}}
        <tr>
            <td>{{prenom}}</td>
            <td>{{nom}}</td>
            <td>{{note}}</td>
            <td>
                <action>
                    <button type="button" class="btn btn-danger btn_delete" id="{{@index}}">Supprimer</button>
                    <button type="button" class="btn btn-success btn_modifier" id="{{@index}}">Modifier</button>
                    <button type="button" class="btn btn-primary btn_comparer" id="{{@index}}">Comparer</button>
                </action>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>



<!--<div>
    {{#each eleves}}
    <div>
        <p>
            {{nom}}
        </p>
        <p>
            {{prenom}}
        </p>
        <p>
            {{note}}
        </p>
        <br>
        <action>
            <button id="{{@index}}">Supprimer</button>
            <button id="{{@index}}">Modifier</button>
            <button id="{{@index}}">Comparer</button>
        </action>
    </div>
    {{/each}}
</div>-->